.box {
  display: flex;
  width: 200px;
  height: 200px;
}

.box1 {
  background-image: url("../images/1.jpeg");
  background-size: cover;
}

.box2 {
  background-image: url("../images/2.png");
  background-size: cover;
}

.box3 {
  background-image: url("../images/3.gif");
  background-size: cover;
}

.box4 {
  background-image: url("../images/河流.webp");
  background-size: cover;
}

.box5 {
  background-image: url("../images/草原.jpg");
  background-size: cover;
}
